<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>renderingPass</string>
	</array>
	<key>passes</key>
	<dict>
		<key>renderingPass</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>PassthroughShader</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>a_position</key>
				<string>a_position-symbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>symbols</key>
	<dict>
		<key>a_position-symbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
</dict>
</plist>
